<form [formGroup]="formulario">
    <h1>Edita Agenda</h1>

    <mat-form-field class="form">
        <mat-label>Médico</mat-label>
        <mat-select [disabled]=true formControlName="codigoMedicoId" name="medicoSelecionado">
                <mat-option value="0" selected>Selecione...</mat-option>
                <mat-option *ngFor="let medico of medicos" [value]="medico.id">
                    {{medico.nome}}
                  </mat-option>        </mat-select>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Cliente</mat-label>
        <mat-select [disabled]="desabilitaAgendadoAlteracao()" formControlName="cliente" name="clienteSelecionado">
                <mat-option value="0" selected>Selecione...</mat-option>
                <mat-option *ngFor="let cliente of clientes" [value]="cliente.id">
                    {{cliente.nome}}
                  </mat-option>        </mat-select>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Data Agenda</mat-label>
        <input matInput  [disabled]=true formControlName="dataAgenda" [ngxMatDatetimePicker]="picker" (focus)="picker.open()" name="dataAgenda">
        <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Tipo</mat-label>
        <mat-select [disabled]="desabilitaAgendadoAlteracao()" formControlName="codigoTipo" name="codigoTipo">
                <mat-option value="" selected>Selecione...</mat-option>
                <mat-option value="1">Agenda</mat-option>
                <mat-option value="2">Encaixe</mat-option>            
                <mat-option value="3">Retorno</mat-option>            
        </mat-select>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Situação</mat-label>
        <mat-select [disabled]=true formControlName="codigoSituacao" name="codigoSituacao">
                <mat-option value="" selected>Selecione...</mat-option>
                <mat-option value="1">Disponível</mat-option>
                <mat-option value="2">Agendado</mat-option>            
                <mat-option value="3">Cancelado</mat-option>            
        </mat-select>
    </mat-form-field>

    <div class="buttons">
        <button class="mat-elevation-z8" (click)="cancelar()" mat-stroked-button color="warn">Voltar</button>
        <button class="mat-elevation-z8" [disabled]="desabilitaAgendadoAlteracao()" (click)="realizarAgendamento()" mat-stroked-button color="secondary">Agendar</button>
        <button class="mat-elevation-z8" [disabled]="desabilitaAlteracao()" (click)="cancelarAgendamento()" mat-stroked-button color="secondary">Cancelar Agendamento</button>
<!--        <button class="mat-elevation-z8" (click)="editar()" mat-stroked-button color="primary">Salvar</button> -->
    </div>
</form>
