<mat-toolbar class="header">
    <span class="imgTit">
        <img src="assets/img/logo.png" alt="">
    </span>
    <span>
        <button mat-button (click)="exibirOcultarNavBar()"><mat-icon>menu</mat-icon></button>
    </span>
    <span class="descTit">
        <h1>Sistema de Gestão de Clínica Médica</h1>
    </span>
    <div class="usuarioLogout">
        <span class="usuarioLogado">{{usuarioLogado}}</span>
        <button (click)="logout()" mat-icon-button>
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </div>
</mat-toolbar>