<form>
    <h1>Novo Funcionario</h1>
    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input autocomplete="off" matInput [(ngModel)]="funcionario.nome" type="text" name="Nome" placeholder="Ex. Dipirona">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>CPF</mat-label>
        <input autocomplete="off" mask="CPF_CNPJ" matInput [(ngModel)]="funcionario.cpf" type="text" name="cpf">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Cargo</mat-label>
        <mat-select [(ngModel)]="codigoCargoSelecionado" name="codigoCargo">
                <mat-option value="0" disabled selected>Selecione...</mat-option>
                <mat-option value="1">Administrador</mat-option>
                <mat-option value="2">Atendente</mat-option>            
                <mat-option value="3">Médico</mat-option>            
        </mat-select>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Sexo</mat-label>
        <mat-select [(ngModel)]="funcionario.sexo" name="sexo">
                <mat-option value="" disabled selected>Selecione...</mat-option>
                <mat-option value="M">Masculino</mat-option>
                <mat-option value="F">Feminino</mat-option>            
        </mat-select>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Data Nascimento</mat-label>
        <input matInput  [(ngModel)]="dataAtual" [matDatepicker]="picker" (focus)="picker.open()"name="dataNascimento">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="month" [startAt]="dataAtual"></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>E-mail</mat-label>
        <input autocomplete="off" matInput [(ngModel)]="funcionario.email" type="email" name="email">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Data Admissão</mat-label>
        <input autocomplete="off" matInput  [(ngModel)]="dataAdmissaoAtual" [matDatepicker]="picker2" (focus)="picker2.open()" name="dataAdmissao">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 startView="month" [startAt]="dataAdmissaoAtual"></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Usuário</mat-label>
        <input autocomplete="off" matInput [(ngModel)]="funcionario.usuario" type="text" name="usuario">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Senha</mat-label>
        <input autocomplete="off" matInput [(ngModel)]="funcionario.senha" type="password" name="senha">
    </mat-form-field>
    <div class="buttons">
        <button class="mat-elevation-z8" id="b1" (click)="cancelar()" mat-stroked-button color="warn">Cancelar</button>
        <button class="mat-elevation-z8" id="b2" (click)="incluir()" mat-stroked-button color="primary">Salvar</button>
    </div>
</form>
