.content{
    width: 95%;
    margin: 0 auto auto 0;
}
.title{
    text-align: center;
    margin-bottom: 1rem;
    margin-top: rem;
}
h1{
    text-align: left;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
}
.tabela{
    width: 100%;
}
.tamanho-10{
    width: 10%;
}
.edit{
    color: rgb(1, 1, 141)
}
.delete{
    color: rgb(124, 38, 38);
    margin-left: 0.2rem;
}
button{
    margin-bottom: .5rem;
}
table {
    width: 100%;
  }
.mat-form-field {
    font-size: 14px;
    width: 100%;
}  
.filtro {
    font-size: 14px;
    width: 88%;
    margin-left: 1rem;
}
mat-icon{
    color:green;
}
.content-table{
    margin-top: 1rem;
}

.mat-cell{
    padding-right: 0.2rem;
    padding-left: 0.2rem;
}

@media screen and (min-width: 480px) and (max-width: 767px)
{
    .tituloAcordion{
        font-size: 1rem;
    }  

    .title h1{
        font-size: 1.3rem;
    }
    .mat-form-field {
        font-size: 12px;
    }
    button{
        font-size: 0.8rem;
    }
    .mat-cell{
        font-size: 0.8rem;
        border-right: dotted 1px;
    }
}
@media screen and (max-width: 479px)
{
    .tituloAcordion{
        font-size: .9rem;
    }  
    .title h1{
        font-size: 1rem;
    }
    .mat-form-field {
        font-size: 12px;
    }
    button{
        font-size: 0.8rem;
    }
    .mat-cell{
        font-size: 0.8rem;
        border-right: dotted 1px;
    }
    .material-icons{
        height: .3rem;
    }
} 
