.footer{
    position: fixed;
    bottom: 0;
    justify-content: flex-end;
    font-size: .8rem;

    background-color:rgb(193, 217, 241);
}
@media screen and (min-height: 381px)
{
    .footer{
        height: 20px;
    }
}
@media screen and (max-height: 380px)
{
    .footer{
        height: 3%;
        font-size: 0.8rem;
    }
}