<form>
    <h1>Novo Cliente</h1>
    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <textarea matInput [(ngModel)]="cliente.nome" type="text" name="nome" placeholder="Ex. Fulano de tal"></textarea>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>CPF</mat-label>
        <textarea matInput [(ngModel)]="cliente.cpf" type="text" name="cpf" placeholder="Ex. 999.999.999-99"></textarea>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Sexo</mat-label>
        <mat-select [(ngModel)]="cliente.sexo" name="sexo">
                <mat-option value="" disabled selected>Selecione...</mat-option>
                <mat-option value="M">Masculino</mat-option>
                <mat-option value="F">Feminino</mat-option>            
        </mat-select>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Data Nascimento</mat-label>
        <textarea matInput [(ngModel)]="cliente.dataNascimento" type="text" name="dataNascimento" placeholder="Ex. 99/99/9999"></textarea>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>E-mail</mat-label>
        <input matInput [(ngModel)]="cliente.email" type="email" name="email">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Convênio Médico</mat-label>
        <textarea matInput [(ngModel)]="cliente.convenioMedico" type="text" name="convenioMedico" placeholder="Ex. email@email.com"></textarea>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Número Carteirinha</mat-label>
        <textarea matInput [(ngModel)]="cliente.numeroCarteirinha" type="text" name="numeroCarteirinha" placeholder="Ex. email@email.com"></textarea>
    </mat-form-field>

    <div class="buttons">
        <button class="mat-elevation-z8" (click)="cancelar()" mat-stroked-button color="warn">Cancelar</button>
        <button class="mat-elevation-z8" (click)="incluir()" mat-stroked-button color="primary">Salvar</button>
    </div>
</form>
