<form>
    <h1>Excluir Cliente?</h1>
    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <textarea matInput [(ngModel)]="cliente.nome" disabled type="text" name="descricao"></textarea>
    </mat-form-field>
    <div class="buttons">
        <button class="mat-elevation-z8" id="b1" (click)="voltar()" mat-stroked-button color="warn">Não</button>
        <button class="mat-elevation-z8" id="b2" (click)="excluir()" mat-stroked-button color="primary">Sim</button>
    </div>
</form>
