form {
    text-align:center;
    width: 70%;
    margin: 1rem auto 0 auto;
}
h1{
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 4rem;
}
.form{
    width: 100%;
}
.buttons{
    width: 100%;
    text-align: start;
}
button{
    margin-right: .5rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

@media screen and (max-width: 767px)
{
    .mat-form-field {
        font-size: 12px;
    }
    #b1, #b2{
        font-size: 0.8rem;
    }
    h1{
        font-size: 1.2rem;
    }
}
