<div class="content">

<form>
    <h1>Dados Gerais</h1>
</form>
<form [formGroup]="formulario">

    <mat-form-field class="form">
        <mat-label>Medicamento</mat-label>
        <mat-select [disabled]="disabled" formControlName="codigoMedicamentoId" name="medicamentoSelecionado">
                <mat-option value="0" selected>Selecione...</mat-option>
                <mat-option *ngFor="let medicamento of medicamentos" [value]="medicamento.id">
                    {{medicamento.nomeFabrica}}
                  </mat-option>        
        </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="disabled" class="form">
        <mat-label>Orientações</mat-label>
        <textarea matInput [value]="prontuarioMedicamento.orientacoes" type="text" disabled='true'></textarea>
    </mat-form-field>    

    <mat-form-field *ngIf="!disabled" class="form">
        <mat-label>Orientações</mat-label>
        <textarea matInput formControlName="orientacoes" type="text" name="orientacoes"></textarea>
    </mat-form-field>    

    <div class="buttons">
        <button class="mat-elevation-z8" (click)="cancelar()" mat-stroked-button color="warn">Voltar</button>
        <button class="mat-elevation-z8" (click)="editar()" mat-stroked-button color="primary">Salvar</button>
    </div>
</form>
</div>