<form [formGroup]="formulario">
    <h1>Novo Prontuário</h1>
    <mat-form-field class="form">
        <mat-label>Médico</mat-label>
        <mat-select formControlName="codigoMedicoId" name="medicoSelecionado">
                <mat-option value="0" selected>Selecione...</mat-option>
                <mat-option *ngFor="let medico of medicos" [value]="medico.id">
                    {{medico.nome}}
                  </mat-option>        </mat-select>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Cliente</mat-label>
        <mat-select formControlName="codigoClienteId" name="clienteSelecionado">
                <mat-option value="0" selected>Selecione...</mat-option>
                <mat-option *ngFor="let cliente of clientes" [value]="cliente.id">
                    {{cliente.nome}}
                </mat-option>        
        </mat-select>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Orientações</mat-label>
        <textarea matInput formControlName="orientacoes" type="text" name="orientacoes"></textarea>
    </mat-form-field>    

    <div class="buttons">
        <button class="mat-elevation-z8" (click)="cancelar()" mat-stroked-button color="warn">Voltar</button>
        <button class="mat-elevation-z8" (click)="incluir()" mat-stroked-button color="primary">Salvar</button>
    </div>
</form>
