<form>
    <h1>Excluir Medicamento?</h1>
    <mat-form-field class="form">
        <mat-label>Nome Fábrica</mat-label>
        <textarea matInput [(ngModel)]="medicamento.nomeFabrica" disabled type="text" name="nomeFabrica"></textarea>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Nome Genérico</mat-label>
        <textarea matInput [(ngModel)]="medicamento.nomeGenerico" disabled type="text" name="nomeGenerico"></textarea>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Fabricante</mat-label>
        <textarea matInput [(ngModel)]="medicamento.nomeFabricante" disabled type="text" name="nomeFabricante"></textarea>
    </mat-form-field>
    <div class="buttons">
        <button class="mat-elevation-z8" id="b1" (click)="voltar()" mat-stroked-button color="warn">Não</button>
        <button class="mat-elevation-z8" id="b2" (click)="excluir()" mat-stroked-button color="primary">Sim</button>
    </div>
</form>
