<form>
    <h1>Edita Medicamento</h1>
    <mat-form-field class="form">
        <mat-label>Nome de Fábrica</mat-label>
        <textarea matInput [(ngModel)]="medicamento.nomeFabrica" type="text" name="nomeFabrica" placeholder="Ex. Novalgina"></textarea>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Nome Genérico</mat-label>
        <textarea matInput [(ngModel)]="medicamento.nomeGenerico" type="text" name="nomeGenerico" placeholder="Ex. Dipirona"></textarea>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Nome de Fábrica</mat-label>
        <textarea matInput [(ngModel)]="medicamento.nomeFabricante" type="text" name="nomeFabricante" placeholder="Ex. Medley"></textarea>
    </mat-form-field>
    <div class="buttons">
        <button class="mat-elevation-z8" (click)="cancelar()" mat-stroked-button color="warn">Cancelar</button>
        <button class="mat-elevation-z8" (click)="editar()" mat-stroked-button color="primary">Salvar</button>
    </div>
</form>
